includes:
  - vendor/eloquent/phpstan-phony/phony.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - '#PHPDoc tag @throws with type GuzzleHttp\\Exception\\GuzzleException.* is not subtype of Throwable#'
        - '#Only booleans are allowed in#'

        # false positive
        - '#UcrmOptionsManager::loadOptions\(\) should return .+ but returns .+ UcrmOptions|null#'
